* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 700px;
  width: 700px;
  background: plum;
}

@media (max-width: 600px) and (orientation: portrait) {
  div {
    height: 200px;
    width: 200px;
    background: tomato;
  }
}

@media screen and (min-width: 2500px) {
  div {
    background-color: aquamarine;
  }
}
